:root {
  --color-default: #fd9800;
  --color-body: #ffffff;
  --color-black: #000000;
  --color-light: #e6e6e6a4;
  --color-box: #cac8c8;
  --color-text: #414141;
  --color-brown: #6b6a6a;
}
  /* Navbar */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-text);
    box-shadow: 0 5px 25px rgb(0 0 0 /20%);
    padding: 0 100px;
    transition: 0.6s;
  }
  header .logo{
    color: var(--color-default);
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  header .navigation{
    position: relative;
    line-height: 75px;
  }
  header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    margin: 1px;
  }
  .menu-item > a{
    color: var(--color-body);
    font-size: 1em;
    text-decoration: none;
    margin: 25px;
    padding: 25px 0;
  }
  .menu-item > a:hover{
    color: var(--color-default);
    transition: 0.3s;
  }
  .menu-item .sub-menu{
    position: absolute;
    background: var(--color-text);
    top: 76px;
    padding: 0;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(-20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
  }
  .menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
  }
  
  .menu-item .sub-menu .sub-item{
    position: relative;
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  }
  .menu-item .sub-menu .sub-item a{
    color: var(--color-body);
    font-size: 1em;
    text-decoration: none;
    padding: 15px 10px;
  }
  .menu-item .sub-menu .sub-item:hover{
    background: var(--color-default);
  }
  .menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
  }
  .menu-btn{
    display: none;
  }
  
  @media (max-width: 1060px){
    header{
      padding: 15px 20px;
    }
    header .navigation .menu{
      position: fixed;
      display: block;
      background: var(--color-text);
      min-width: 350px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 90px 50px;
      visibility: hidden;
      overflow-y: auto;
      transition: 0.5s;
      transition-property: right, visibility;
    }
    header .navigation .menu.active{
      right: 0;
      visibility: visible;
    }
    .menu-item{
      position: relative;
    }
    .menu-item .sub-menu{
      opacity: 1;
      position: relative;
      top: 0;
      transform: translateX(10px);
      background: var(--color-brown);
      border-radius: 5px;
      overflow: hidden;
      display: none;
    }
    .menu-item:hover .sub-menu{
      transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item{
      box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
      background: none;
    }
    .menu-item .sub-menu .sub-item a:hover{
      color: var(--color-default);
      transition: 0.3s;
    }
    .close-btn{
      position: absolute;
      background: url(../img/close-white.png)no-repeat;
      width: 40px;
      height: 40px;
      background-size: 35px;
      top: 0;
      left: 0;
      margin: 40px;
      cursor: pointer;
    }
    .menu-btn{
      background: url(../img/open-white.png)no-repeat;
      width: 40px;
      height: 40px;
      background-size: 35px;
      background-position: center;
      cursor: pointer;
      display: block;
    }
  }
/* Arsip */
body {
  margin-top: 7rem;
  justify-content: center;
  align-items: center;
}
main.table {
  margin-left: 5rem;
  width: 82vw;
  height: auto;
  background-color: #fff5;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  overflow: hidden;
}
.table__header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table__header h1{
  margin: auto;
}
.table__header .input-group {
  width: 35%;
  height: 100%;
  background-color: #fff5;
  padding: 0 .8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.table__header .input-group:hover {
  width: 45%;
  background-color: #fff8;
  box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
  width: 1.2rem;
  height: 1.2rem;
}

.table__header .input-group input {
  width: 100%;
  padding: 0 .5rem 0 .3rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.table__body {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;

  margin: .8rem auto;
  border-radius: .6rem;

  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

table {
  width: 100%;
}

td img {
  width: 36px;
  height: 36px;
  margin-right: .5rem;
  border-radius: 50%;

  vertical-align: middle;
}

table, th, td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-text);
  color: var(--color-body);
  cursor: pointer;
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr {
  --delay: .1s;
  transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
  opacity: 0;
  transform: translateX(100%);
}

tbody tr:hover {
  background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
  transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
  padding: 0;
  font: 0 / 0 sans-serif;
  transition: .2s ease-in-out .5s;
}

.status {
  padding: .4rem 0;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--color-text);
  color: var(--color-body);
}
.status a{
  text-decoration: none;
  color: var(--color-body);
}
.status:hover{
  background-color: var(--color-default);
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
      min-width: 12.1rem;
  }
}
@media (max-width: 768px) {
  td:not(:first-of-type) {
      min-width: 9.1rem;
  }
}

thead th span.icon-arrow {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 1.4px solid transparent;
  
  text-align: center;
  font-size: 1rem;
  
  margin-left: .5rem;
  transition: .2s ease-in-out;
}

thead th:hover {
  color: var(--color-default);
}

thead th.active span.icon-arrow{
  background-color: var(--color-default);
  color: #fff;
}

thead th.asc span.icon-arrow{
  transform: rotate(180deg);
}

thead th.active,tbody td.active {
  color: var(--color-default);
}

.export__file {
  position: relative;
}

.export__file .export__file-btn {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
  background-color: #fff;
  transform: scale(1.15);
  cursor: pointer;
}

.export__file input {
  display: none;
}

.export__file .export__file-options {
  position: absolute;
  right: 0;
  width: 12rem;
  border-radius: .5rem;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  transform: scale(.8);
  transform-origin: top right;
  box-shadow: 0 .2rem .5rem #0004;
  transition: .2s;
}

.export__file input:checked + .export__file-options {
  opacity: 1;
  transform: scale(1);
  z-index: 100;
}

.export__file .export__file-options label{
  display: block;
  width: 100%;
  padding: .6rem 0;
  background-color: #f2f2f2;
  
  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
  padding: 1rem 0;
  background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
  transform: scale(1.05);
  background-color: #fff;
  cursor: pointer;
}

.export__file .export__file-options img{
  width: 2rem;
  height: auto;
}

/* Footer */
footer {
  bottom: 0;
}
@media (max-height:800px) {
  footer {
      position: static;
  }
}
.footer-distributed {
  background-color: var(--color-text);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 30%;
}
.footer-distributed h3 {
  color: var(--color-body);
  font: normal 25px 'Cookie', cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: var(--color-default);
}
/* Footer links */
.footer-distributed .footer-links {
  color: var(--color-body);
  margin: 20px 0 12px;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: var(--color-light);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: var(--color-brown);
  color: var(--color-body);
  font-size: 25px;
  padding: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: var(--color-body);
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: var(--color-default);
  text-decoration: none;
  ;
}
/* Footer Right */
.footer-distributed .footer-right {
  width: 30%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: var(--color-box);
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: var(--color-body);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--color-text);
  border-radius: 2px;
  font-size: 20px;
  color: var(--color-body);
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
  background-color: var(--color-default);
}
.footer-links a:hover {
  color: var(--color-default);
}
@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
  .footer-distributed .footer-center i {
    font-size: 25px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
}