:root {
  --color-default: #008307;
  --color-body: #ffffff;
  --color-first: #01a701;
  --color-black: #000000;
  --color-light: #ffffffdc;
}

/* All Body */
#home {
  color: var(--color-body);
  width: 100%;
  height: 100%;
}

/* Navbar */
.navbar {
  background: var(--color-default);
}
.navbar .nav-item .nav-link {
  color: var(--color-body);
}
.navbar .nav-item .nav-link:hover {
  color: var(--color-black);
}
