:root {
  --color-default: #00a0fd;
  --color-body: #ffffff;
  --color-black: #000000;
  --color-light: #e6e6e6a4;
  --color-box: #cac8c8;
  --color-text: #414141;
}

/* Navbar */
.navbar{
  background-color: var(--color-light);
}
.navbar .navbar-nav .nav-link {
  color: var(--color-black);
}
.navbar .navbar-nav .nav-link:hover {
  color: var(--color-default);
}
/* Beranda - ViMi */
.tittle-1{
  color: rgb(51, 255, 0);
  text-shadow: 1px 2px 1px grey;
  text-align: center;
}

/* Layanan */
.tittle{
  text-align: center;
}
.mt{
  padding-top: 2rem;
  text-align: center;
  color: red;
  text-shadow: 1px 2px 1px grey;
}
.container{
  padding-top: 3rem;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  border-radius: 1px;
  width: 70rem;
  height: 13rem;
  padding: 2rem;
  background-color: var(--color-box);
}
.box .post-tittle{
  margin-top: -5px;
  width: 65rem;
  height: 10rem;
}
.box .post-tittle i{
  float: left;
}
.box .post-tittle .post{
  margin-top: -10px;
  margin-left: 4rem;
}
.box .post-tittle .post h5{
  color: var(--color-text);
}
.box .post-tittle .post a{
  float: right;
}
.box .post-tittle .post .btn{
    background: var(--color-default);
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.box .post-tittle .post .btn:hover{
  color: var(--color-body);
  background: var(--color-text);
}


@media(max-width: 1100px){
  .box{
    width: 50rem;
    height: 13rem;
  }
  .box .post-tittle{
    margin-top: -5px;
    width: 40rem;
    height: 10rem;
  }
  .box .post-tittle .post{
    margin-top: -10px;
    margin-left: 3rem;
  }
  .box .post-tittle .post a{
    margin-right: -20px;
    float: right;
  }
}
@media(max-width: 800px){
  .box{
    width: 22rem;
    height: 27rem;
  }
  .box .post-tittle{
    margin-top: -5px;
    width: 20rem;
    height: 28rem;
  }
  .box .post-tittle .post{
    margin-top: -10px;
    margin-left: 3rem;
  }
  .box .post-tittle .post a{
    margin-right: 20px;
    margin-top: 260px;
    float: right;
  }
}

/* Hubungi-kami */
.wrapper{
  max-width: 500px;
  width: 100%;
  height: 440px;
  background: var(--color-box);
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border-radius: 6px;
}
.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--color-black);
  text-transform: uppercase;
  text-align: center;
}
.wrapper .form{
  width: 100%;
}
.wrapper .form .input_field{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.wrapper .form .input_field label{
  width: 200px;
  color: var(--color-black);
  margin-right: 10px;
  font-size: 14px;
}
.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea{
  width: 100%;
  outline: none;
  border: 1px solid var(--color-body);
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .form .input_field .textarea{
  resize: none;
  height: 125px;
}
.wrapper .form .input_field .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
  margin-left: -9px;
}
.wrapper .form .input_field .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
}
.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus{
  border: 1px solid var(--color-default);
}
.wrapper .form .input_field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: var(--color-default);
  color: var(--color-body);
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}
.wrapper .form .input_field:last-child{
  margin-bottom: 0;

}
.wrapper .form .input_field .btn:hover{
  background: var(--color-text);
}

@media(max-width: 800px){
  .wrapper{
    max-width: 360px;
    height: 430px;
    margin: 20px auto;
    padding: 20px;
  }
  .wrapper .title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .wrapper .form .input_field{
    margin-bottom: 15px;
  }
}
